# SMTP
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=contact@neuralstackcode.com.mx
MAIL_PASSWORD=tu_password
MAIL_FROM=contact@neuralstackcode.com.mx
MAIL_FROM_NAME=NeuralStack Code

# DB Consultora (para validar API Keys)
DB_CONSULTORA_HOST=localhost
DB_CONSULTORA_NAME=u165852803_nsc_consultora
DB_CONSULTORA_USER=u165852803_consultor_user
DB_CONSULTORA_PASSWORD=tu_password
